@use '../colors';

.main {
  fill: var(--file-icon-primary-color, #{colors.$basic-gray24});
}

// ВАЖНО: далее используем цвет именно как резервное значение чтобы иметь возможность переопределения
.doc {
  fill: var(--file-icon-primary-color, #{colors.$additional-electric-blue});
}

.docx {
  fill: var(--file-icon-primary-color, #{colors.$additional-deep-blue});
}

.heic {
  fill: var(--file-icon-primary-color, #{colors.$additional-violet});
}

.jpg {
  fill: var(--file-icon-primary-color, #{colors.$additional-deep-orange});
}

.mov {
  fill: var(--file-icon-primary-color, #{colors.$additional-blue-gray});
}

.mp4 {
  fill: var(--file-icon-primary-color, #{colors.$additional-blue-gray});
}

.pdf {
  fill: var(--file-icon-primary-color, #{colors.$additional-deep-red});
}

.png {
  fill: var(--file-icon-primary-color, #{colors.$additional-purple});
}

.rtf {
  fill: var(--file-icon-primary-color, #{colors.$additional-light-blue});
}

.txt {
  fill: var(--file-icon-primary-color, #{colors.$additional-unlit-blue});
}

.xls {
  fill: var(--file-icon-primary-color, #{colors.$additional-light-green});
}

.xlsx {
  fill: var(--file-icon-primary-color, #{colors.$additional-green});
}

.xml {
  fill: var(--file-icon-primary-color, #{colors.$additional-deep-purple});
}

.zip {
  fill: var(--file-icon-primary-color, #{colors.$additional-teal});
}

.avi {
  fill: var(--file-icon-primary-color, #{colors.$additional-cyan});
}

.mp3 {
  fill: var(--file-icon-primary-color, #{colors.$additional-crimson});
}

.unknown {
  fill: var(--file-icon-primary-color, #{colors.$basic-gray12});
}
