.root {
  padding: 8px 0;
  max-height: var(--max-height, 216px);
  overflow: auto;
  background: #fff;
  outline: 0;
}

// @todo сделать полосу прокрутки по макетам когда они появятся
.invisible-scroll {
  scrollbar-width: none; // Firefox
  overflow: -moz-scrollbars-none; // old Firefox
  -ms-overflow-style: none; // IE, old Edge
  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}
