.custom-permanent {
  position: relative;
  max-width: 400px;
  height: 200px;
  padding: 10px;
  border-radius: 6px;
  background: #fff;
  color: #000;
  font-size: 16px;
  color: #ccc;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .2s, border-color .2s;
  input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.custom-drag-active {
  color: #323232;
  border-color: #323232;
}
