.container-with-border {
  width: 90%;
  margin: 0 auto;
  border: 1px dashed #999;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 20px;
  &:not(:first-child) {
    margin-top: 60px;
  }
}

.col-with-top-margin {
  margin-top: 8px;
}

.content-blue {
  background-color: #8de;
  padding: 8px;
  border: 1px dashed #08a;
}
