@use '../colors';

.root {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  vertical-align: -2px;
  overflow: hidden;
}

.input {
  display: none;
  &:checked + .switch {
    background: colors.$brand-blue;
    &::after {
      left: calc(100% - 22px);
    }
  }
  &:disabled + .switch {
    background: colors.$gray4;
  }
}

.switch {
  position: relative;
  display: block;
  width: 44px;
  height: 24px;
  border-radius: 12px;
  background: colors.$gray12;
  transition: background .16s ease-in-out;
  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 50%;
    transition: left .32s ease-in-out;
  }
}
