.root {
  display: inline-flex;
  position: relative;
}

.menu {
  position: absolute;
  min-width: 100%;
  width: var(--dropdown-width);
  top: 100%;
  z-index: 2;
  &.align-left {
    left: 0;
  }
  &.align-right {
    right: 0;
  }
}

.text-button {
  font-size: var(--select-link-size, 16px);
  line-height: var(--select-link-height, 24px);
}
