@use '../colors';

.root {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.red-line-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: 100%;
  overflow: visible;
  pointer-events: none;
}
