@use '../../colors';

.section + .section {
  margin-top: 32px;
}

.imports {
  display: flex;
  flex-direction: column;
  gap: 16px;
  > * {
    width: 100%;
  }
}

.colors {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.color {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  &:hover {
    background: colors.$basic-gray4;
  }
  .circle {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .title {
    margin-right: auto;
  }
}
