.root {
  display: flex;
}

.prev {
  margin-right: 9px;
}

.next {
  margin-left: 8px;
}

.page {
  margin-left: -1px;
}

.large {
  --pagination-item-font-size: 12px;
  --pagination-item-line-height: 16px;
}
