.title {
  padding: 0 16px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.gallery {
  touch-action: pan-y; // ВАЖНО: чтобы на touch-устройствах прокрутка карусели не вызывала прокрутку контейнера по перпендикулярной оси
  &:not(.vertical) {
    max-width: 800px;
    margin: 0 16px;
  }
  &.vertical {
    width: 200px;
    height: 600px;
    margin: 16px;
  }
}

.gallery-item {
  font-size: 16px;
  color: #000;
  flex-shrink: 0;
  width: 200px;
  height: 300px;
  border-radius: 6px;
  background: #95a5a6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  &:not(.vertical):not(:first-child) {
    margin-left: 10px;
  }
  &.vertical:not(:first-child) {
    margin-top: 10px;
  }
}

.reel {
  position: relative;
  width: 240px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &:not(.current) {
    background: #ff000032;
  }
  &.current {
    background: #00ff0032;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  &.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #000;
    animation-name: grow;
    animation-duration: inherit;
    animation-timing-function: linear;
  }
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
