@import '../variables';
$background: "path:first-child";
$half: "path:nth-child(2)";

.rating {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  #{$background} {
    fill: $lightGray;
  }
  #{$half} {
    fill: $lightGray;
  }
}

.rating-star {
  padding: 0 2px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

.empty-star {
  #{$half} {
    fill: $lightGray;
  }
}

.half-star {
  #{$background} {
    fill: $lightGray;
  }
  #{$half} {
    fill: $orangeStar;
  }
}

.full-star {
  #{$background} {
    fill: $orangeStar;
  }
  #{$half} {
    fill: $orangeStar;
  }
}

.rating-can-be-hovered {
  &:hover .rating-star {
    cursor: pointer;
    #{$background} {
      fill: $lightGray;
    }
    #{$half} {
      fill: $lightGray;
    }
  }
  .rating-star:hover,
  .rating-star:hover ~ .rating-star {
    #{$background} {
      fill: $orangeStar;
    }
    #{$half} {
      fill: $orangeStar;
    }
  }
}
