@import '../variables';

$background: 'path:first-child';
$half: 'path:nth-child(2)';

.rating {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  #{$background} {
    fill: $lightGray;
  }
  #{$half} {
    fill: $lightGray;
  }
}

.rating-star {
  box-sizing: content-box;
  padding: 0 2px;
  &:first-child {
    padding-right: 0;
  }
  &:last-child {
    padding-left: 0;
  }
}

.empty-star {
  #{$half} {
    fill: $lightGray;
  }
}

.half-star {
  #{$background} {
    fill: $lightGray;
  }
  #{$half} {
    fill: $orangeStar;
  }
}

.full-star {
  #{$background} {
    fill: $orangeStar;
  }
  #{$half} {
    fill: $orangeStar;
  }
}

.rating-can-be-hovered {
  &:hover .rating-star {
    cursor: pointer;
    #{$background} {
      fill: $lightGray;
    }
    #{$half} {
      fill: $lightGray;
    }
  }
  .rating-star:hover,
  .rating-star:hover ~ .rating-star {
    #{$background} {
      fill: $orangeStar;
    }
    #{$half} {
      fill: $orangeStar;
    }
  }
}
