@use '../colors';
@use '../shadows';
@use '../utils';

.root {
  display: inline-flex;
  position: relative;
  max-width: 400px;
  max-height: var(--popup-max-height, min(536px, calc(100vh - 16px)));
  padding: var(--popup-padding, 40px 8px);
  box-sizing: border-box;
  background: var(--popup-background, #{colors.$basic-gray4});
  border-radius: var(--popup-border-radius, 4px);
  box-shadow: var(--popup-box-shadow, #{shadows.get-box-shadow('z2')});
}

.close {
  @include utils.reset-button;
  @include utils.focus-visible;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 8px 8px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
}

.content {
  @include utils.semi-stylized-scrollbars(colors.$basic-gray4);
}

.content {
  font-size: 16px;
  line-height: 24px;
  padding: var(--popup-content-padding, 0 32px);
  max-height: 456px; // 536 (по гайдам) - 80 (горизонтальные отступы)
  overflow-y: auto;
  overflow-x: hidden;
}
