html,
body {
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
