@import '../variables';

.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
  text-decoration: none;
  font-weight: inherit;
  cursor: default;
  border-bottom-color: transparent;
}

.link-underlined {
  padding-bottom: 1px;
}

.link-underlined-solid {
  border-bottom: $underlineSolid;
}

.link-underlined-dashed {
  border-bottom: $underlineDashed;
}

.link-can-be-hovered:hover {
  cursor: pointer;
  color: $red;
  &.link-underlined {
    border-bottom-color: $underlineRedHoveredLink;
  }
  &.link-white {
    color: $whiteHoveredLink;
    &.link-underlined {
      border-bottom-color: $underlineWhiteHoveredLink;
    }
  }
}

.link-blue {
  color: $blue;
  &.link-underlined {
    border-bottom-color: $underlineBlueLink;
  }
}

.link-black {
  color: $black;
  &.link-underlined {
    border-bottom-color: $underlineBlackLink;
  }
}

.link-gray {
  color: $gray;
  &.link-underlined {
    border-bottom-color: $underlineGrayLink;
  }
}

.link-light-gray {
  color: #ccc;
}

.link-dark-gray {
  color: #3a3a3b;
}

.link-red {
  color: $red;
  &.link-underlined {
    border-bottom-color: $underlineRedLink;
  }
}

.link-white {
  color: $white;
  &.link-underlined {
    border-bottom-color: $underlineWhiteLink;
  }
}

.link-dark-blue {
  color: $veryDarkBlue;
  &.link-underlined {
    border-bottom-color: $underlineDarkBlueLink;
  }

}
