@import '../variables';
@import '../colors';

$badgeColor: $black !default;
$badgeBackground: $white !default;
$badgeFill: $black !default;
$badgeTimeColor: $gray12 !default;

.container {
  font-size: 12px;
  position: relative;
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  color: $badgeColor;
  fill: $badgeFill;
  background: $badgeBackground;
  border-radius: 2px;
  padding: 2px 4px;
  &.container-icon {
    padding: 3px 6px;
  }
}

.link {
  color: inherit;
  border-bottom: 0;
  text-decoration: none;
  &:hover {
    opacity: .7;
    color: inherit;
  }
}

.content {
  .text {
    line-height: 16px;
  }
  .icon {
    margin-top: 1px;
    vertical-align: top;
    height: 12px;
    width: auto;
    display: inline-block !important;
    fill: currentColor;
    svg {
      height: 12px;
      width: auto;
    }
    &.empty {
      width: 12px;
      height: 12px;
    }
  }
  * + * {
    margin-left: 4px;
  }
  time {
    color: $badgeTimeColor;
  }
}
