.fake-side-page {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 400px;
  height: 600px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  border: 4px dashed #322332;
  box-sizing: border-box;
}
