$paddings: (
  sm: 16px,
  md: 32px,
  lg: 68px,
);

$maxWidths: (
  xl: 1600px,
  lg: 1408px,
  md: 1240px,
  sm: 840px,
  xs: 720px,
);

@mixin layoutSize ($name) {
  @each $key, $value in $paddings {
    &.layout-#{$name}-padding-#{$key} {
      padding: 0 $value;
    }
  }
  @each $key, $value in $maxWidths {
    .layout-#{$name}-width-#{$key} {
      max-width: $value;
    }
  }
}

.grid-layout-wrapper {
  box-sizing: border-box;
  @include layoutSize('xxl');
  .grid-layout {
    width: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }

  // 1441-1600
  @media (max-width: 1600px) {
    @include layoutSize('xl');
  }

  // 1281-1440
  @media (max-width: 1440px) {
    @include layoutSize('lg');
  }

  // 961-1280
  @media (max-width: 1280px) {
    @include layoutSize('md');
  }

  // 841-960
  @media (max-width: 960px) {
    @include layoutSize('sm');
  }

  // 721-840
  @media (max-width: 840px) {
    @include layoutSize('xs');
  }

  // 601-720
  @media (max-width: 720px) {
    @include layoutSize('xxs');
  }

  // 600-
  @media (max-width: 600px) {
    @include layoutSize('xxxs');
  }
}
