.root {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
}
