@use '../colors';

$gutter: 8px;

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$gutter) (-$gutter) 0;
}

.item {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 32px;
  margin: 0 $gutter $gutter 0;
  overflow: hidden;
  outline: 0;
  border: 0;
  padding: 0 12px;
  background: colors.$gray8;
  color: colors.$gray87;
  border-radius: 4px;
  box-sizing: border-box;
  font: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  &.checked {
    background: colors.$gray76;
    color: colors.$white;
  }

  // переопределяем стили монолита
  &,
  &:link,
  &:visited {
    background: colors.$gray8;
    color: colors.$gray87;
  }

  // эффект при наведении определяем **после** переопределения стилей монолита
  &:hover {
    cursor: pointer;
  }
  &:hover,
  &:active {
    background: colors.$gray12;
    color: colors.$gray87;
  }
  &.checked {
    &:hover,
    &:active {
      background: colors.$gray66;
      color: colors.$white;
    }
  }
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cross-svg {
  display: block;
  fill: currentColor;
  margin-left: 8px;
  flex-shrink: 0;
}
