.textarea {
  outline: 0;
  display: inline-block;
  padding: 4px 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  -webkit-appearance: none; // для того, чтобы в Safari на iOS не пропадал box-shadow
  &.full-width {
    width: 100%;
  }
  &:not(.resizeable) {
    resize: none;
  }
  &.auto-fit-height {
    overflow-y: hidden;
  }
}
