.italic {
  font-style: italic;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nowrap {
  white-space: nowrap;
}

$aligns: (left, right, center, justify);

@each $align in $aligns {
  .align-#{$align} {
    text-align: $align;
  }
}
