.truncate {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

$aligns: (left, right, center, justify);

@each $align in $aligns {
  .align-#{$align} {
    text-align: $align;
  }
}
