.small-width {
  width: 122px;
}

.medium-width {
  width: 160px;
}

.centered-text {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.padding-right-16 {
  padding-right: 16px;
}

.padding-left-16 {
  padding-left: 16px;
}
