@import '../variables';

/* Выравнивания по горизонтали */
$justifies: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'between': space-between,
  'around': space-around,
);

/** Выравнивания по вертикали*/
$alignments: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'stretch': stretch,
  'baseline': baseline,
);

/* Параметры для создания отступов между колонками
 * Размер | Половина размера отступа между колонками
 */
$gutters: (
  lg: 16px,
  md: 12px,
  sm: 8px,
);

/* Количество колонок */
$columnsCount: (8, 12);

/* Миксин для создания отступов между колонками в строке.
 * $name - наименование размера экрана ('lg', 'md', 'sm').
 */
@mixin create-gutters ($name) {
  @each $key, $value in $gutters {
    &.row-#{$name}-columns-gutters-#{$key} {
      margin-right: -$value;
      margin-left: -$value;
      .col {
        padding: 0 $value;
      }
    }
  }
}

/* Миксин для расчета ширины колонок.
 * $name - наименование размера экрана ('lg', 'md').
 */
@mixin create-columns ($name) {
  @each $count in $columnsCount {
    &.row-#{$name}-columns-count-#{$count} {
      .col-#{$name}-width-auto {
        flex: 1 1 0;
        max-width: 100%;
      }
      @for $key from 1 through $count {
        $width: (100%  / $count) * $key;
        .col-#{$name}-width-#{$key} {
          flex: 0 1 $width;
          max-width: $width;
        }
      }
    }
  }
}

.row {
  width: auto;
  display: flex;
  flex-direction: row;
  .col {
    box-sizing: border-box;
  }
  &.with-gutters {
    @include create-gutters('lg');
    @media (max-width: 960px) {
      @include create-gutters('md');
    }
    @media (max-width: 720px) {
      @include create-gutters('sm');
    }
  }
  @include create-columns('lg');
  @media (max-width: 960px) {
    @include create-columns('md');
  }
  &.wrap {
    flex-wrap: wrap;
  }
  @each $key, $value in $justifies {
    &.justify-#{$key} {
      justify-content: $value;
    }
  }
  @each $key, $value in $alignments {
    &.items-#{$key} {
      align-items: $value;
    }
  }
}
