@use '../shadows';

.overlay {
  display: flex;
  align-items: center;
  padding: var(--modal-overlay-padding);
  // ВАЖНО: для корректной прокрутки во flex-контейнере не надо использовать тут justify-content: center
}

.modal {
  width: var(--modal-width);
  height: var(--modal-height);
  max-height: var(--modal-max-height);
  border-radius: var(--modal-border-radius);
  box-shadow: var(--modal-box-shadow);
  flex-shrink: 0;
  margin: auto; // ВАЖНО: для корректной прокрутки во flex-контейнере
  z-index: 1;
  background-color: #fff;

  // layout самого модального окна, + надо как-то flex-shrink выдать футеру и хедеру
  position: relative; // ВАЖНО: для overlap
  display: flex;
  flex-direction: column;
}

.size-s {
  --modal-width: 480px;
  --modal-max-height: 696px;
  --overlay-padding: 16px;
  --modal-box-shadow: #{shadows.get-box-shadow('z4')};
}

.size-m {
  --modal-width: 640px;
  --modal-max-height: 696px;
  --modal-overlay-padding: 16px;
  --modal-box-shadow: #{shadows.get-box-shadow('z4')};
}

.size-l {
  --modal-width: 768px;
  --modal-max-height: 696px;
  --modal-overlay-padding: 16px;
  --modal-box-shadow: #{shadows.get-box-shadow('z4')};
}

.size-xl {
  --modal-width: 960px;
  --modal-max-height: 696px;
  --modal-overlay-padding: 16px;
  --modal-box-shadow: #{shadows.get-box-shadow('z4')};
}

.size-fullscreen {
  --modal-width: 100%;
  --modal-height: 100%;
  --modal-max-height: 100%;
  --modal-overlay-padding: 0;
  --modal-box-shadow: none;
}

.rounds-s {
  --modal-border-radius: 4px;
}

.rounds-m {
  --modal-border-radius: 8px;
}

.body {
  flex-grow: 1;
}

.overlap-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  * {
    pointer-events: auto;
  }
}

.footer-stub {
  flex-shrink: 0;
  border-radius: 0 0 8px 8px;
  height: 16px;
  background: #fff;
}
