@use '../colors';

.overlay {
  background: rgba(0, 0, 0, .24);
  overflow: auto;
  position: fixed;
  z-index: 102;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  margin: auto;
  flex-shrink: 0;
  z-index: 1;
  &.size-s {
    width: 480px;
  }
  &.size-m {
    width: 640px;
  }
  &.size-l {
    width: 768px;
  }
  &.size-xl {
    width: 960px;
  }
  &.size-fullscreen {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.header {
  flex-shrink: 0;
  border-radius: 8px 8px 0 0;
}

.footer {
  margin-top: auto;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
