@import '../../colors';

.root {
  padding: 0 8px;
  display: inline-flex;
  height: 40px;
  font-size: 16px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
}

.root-width {
  width: 200px;
}

.root-failed {
  border-color: map-get($colors, 'service-error');
}

.root-focused {
  border-color: map-get($colors, 'brand-blue');
}

.root-with-start-adornment {
  padding-left: 0;
}

.root-with-end-adornment {
  padding-right: 0;
}

.input-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 0;
  flex-basis: 0;
  flex-grow: 1;
  font: inherit;
}

.adornment-container {
  display: flex;
  align-items: center;
}
