@use '../colors';

.container {
  font-size: 14px;
  display: inline-flex;
  flex-direction: column;
  vertical-align: baseline;
  line-height: 20px;
  .row {
    display: flex;
    .checkbox-column {
      display: flex;
      align-items: center;
      width: 16px;
      height: 20px;
      margin-right: 4px;
    }
  }
  .content-wrapper {
    display: block;
    &.label {
      cursor: pointer;
    }
    &.error,
    &.info {
      margin: 8px 0 0 20px;
    }
    &.error {
      color: colors.$additional-red;
      font-size: 12px;
    }
    &.info {
      color: #ccc;
      font-size: 12px;
    }
  }
}
