@use '../colors';

.root {
  position: relative;
  display: inline-flex;
  .field-row {
    display: flex;
    align-items: flex-start;
  }
  .label {
    display: block;
    cursor: pointer;
    color: colors.$basic-gray87;
    font-size: 16px;
    line-height: 24px;
  }
  .info {
    display: block;
    cursor: pointer;
    color: colors.$basic-gray38;
    font-size: 14px;
    line-height: 20px;
  }
  &.field-checkbox {
    .field-row {
      padding-top: 4px;
      margin-right: 8px;
    }
  }
  &.field-toggle {
    .field-row {
      margin-right: 12px;
    }
    .label {
      font-weight: 600;
    }
  }
  &.field-checkbox.small-text {
    .label {
      padding-top: 2px;
      font-size: 14px;
      line-height: 20px;
    }
  }
  &.failed:not(.disabled) {
    .label {
      color: colors.$additional-deep-red;
    }
  }
  &.disabled {
    .label,
    .info {
      color: colors.$basic-gray24;
    }
  }
}
