@use '../breakpoints';
@use './side-page-util';
@use '../modal-overlay/modal-overlay-util';

.side-page {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  max-width: var(--side-page-max-width, auto);
}

.size-s {
  @include side-page-util.size-s;
}

.size-m {
  @include side-page-util.size-m;
}
