@import '../../variables';

@mixin gallery-container {
  position: relative;
  display: flex;
  align-items: center;
  .button {
    border-radius: 50%;
    position: absolute;
    flex-shrink: 0;
    padding: 8px;
    border: 0;
    box-shadow: 0 0 0 1px rgba($black, .1), 0 2px 3px rgba($black, .3);
    z-index: 4;
    background-color: $white;
    color: $gray;
    outline: 0;
    &:not(.disabled):hover {
      color: $blueIcon;
    }
    &.disabled {
      opacity: .4;
      color: $gray;
    }
  };
}

// Миксин для кнопок управления.
// $side - сторона, от которой делать отступ: top|bottom|left|right.
// $alignSide - сторона, от которой нужно выравнивать: left|top.
@mixin control-button ($side, $alignSide) {
  position: absolute;
  #{$alignSide}: calc(50% - 13px);
  #{$side}: -13px;
}

.gallery-container {
  @include gallery-container;
}

.vertical-gallery-container {
  flex-direction: column;
  @include gallery-container;
}

.arrow-up {
  @include control-button(top, left);
}

.arrow-down {
  @include control-button(bottom, left);
}

.arrow-left {
  @include control-button(left, top);
}

.arrow-right {
  @include control-button(right, top);
}
