@use '../shadows';

.root {
  background: #fff;
  outline: 0;
  padding: 8px 0;
  border-radius: 8px;
  @include shadows.box-shadow('z4');

  // задавать можно только максимальную высоту через --dropdown-max-height
  max-height: var(--dropdown-max-height, 376px) !important;
  height: auto !important;
}

.inner {
  max-height: calc(var(--dropdown-max-height, 376px) - 16px); // вычитаем padding корневого элемента
}
