.root {
  background: #fff;
  max-height: var(--dropdown-max-height, 304px);
  outline: 0;
  padding: 8px 0;
  position: relative;
}

.inner {
  max-height: calc(var(--dropdown-max-height, 304px) - 16px);
}
