.root {
  border-radius: 8px;
}

.reel {
  position: relative;
  width: 240px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &:not(.current) {
    background: #ff000032;
  }
  &.current {
    background: #00ff0032;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  &.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #000;
    animation-name: grow;
    animation-duration: inherit;
    animation-timing-function: linear;
  }
}

@keyframes grow {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
