.title {
  padding: 0 16px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.gallery {
  &:not(.vertical) {
    max-width: 800px;
    margin: 0 16px;
  }
  &.vertical {
    width: 200px;
    height: 610px;
    margin: 16px;
  }
}

.gallery-item {
  font-size: 16px;
  color: #000;
  flex-shrink: 0;
  width: 200px;
  height: 300px;
  border-radius: 6px;
  background: #95a5a6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  &:not(.vertical):not(:first-child) {
    margin-left: 10px;
  }
  &.vertical:not(:first-child) {
    margin-top: 10px;
  }
}
