@use '../colors';

.root {
  text-align: left;
  position: relative;
  width: var(--phone-input-width, 320px);
}

.field {
  width: 100%;
}

.adornment {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.arrow {
  display: block;
  fill: colors.$basic-gray38;
  margin-left: 4px;
  pointer-events: none; // игнорируем клики т.к. после них элемент стрелки подменяется и считается что он сработал вне элемента родителя
}

.menu {
  position: absolute;
  width: 100%;
  top: 56px;
  --dropdown-max-height: 208px;
  z-index: 2;
}

.menu-item {
  font-size: 16px;
  line-height: 24px;
  .country-icon {
    display: block;
  }
}
