@use '../colors';
@use '../utils';

.last {
  white-space: nowrap;
  line-height: inherit;
  font-size: inherit;
}

.button {
  @include utils.reset-button;
  @include utils.focus-visible;
}

.button {
  display: inline-block;
  vertical-align: -0.125em; // не понятно почему, но это значение ставит блок ровно по середине строки
  margin-left: 4px;
  color: colors.$basic-gray38;
  &.active,
  &:hover,
  &:focus-visible {
    color: colors.$basic-gray54;
    cursor: pointer;
  }
}

.icon {
  display: block;
  fill: currentColor;
}
