@use '../colors';

.opener {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 8px;
  margin: -8px;
  border-radius: 4px;
  &:focus-visible {
    outline: 0;
    background: colors.$additional-sky;
  }
  &:not(.disabled) {
    cursor: pointer;
  }
}

.arrow {
  display: block;
  fill: colors.$basic-gray38;
  margin-left: 4px;
  pointer-events: none; // игнорируем клики т.к. после них элемент стрелки подменяется и считается что он сработал вне элемента родителя
}
