@use '../colors';

.root {
  list-style-type: none;
  user-select: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  li {
    margin: 0;
    &::before {
      content: none;
    }
  }
  &.stretch {
    justify-items: stretch;
    .tab-item {
      width: 100%;
    }
  }
  &.view-clean {
    height: 32px;
    .tab-item {
      color: colors.$gray38;
      &.selected {
        position: relative;
        color: colors.$gray87;
        &::before {
          content: '';
          position: absolute;
          height: 2px;
          margin: 0 -1px;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: colors.$brand-blue;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
      &.disabled {
        color: colors.$gray12;
      }
      &:not(.selected):not(.disabled):hover {
        cursor: pointer;
        color: colors.$gray54;
      }
    }
    &.underline {
      height: 40px;
      position: relative;
      &::before {
        position: absolute;
        bottom: 0;
        content: '';
        height: 1px;
        width: 100%;
        background-color: colors.$gray12;
      }
    }
  }
  &.view-round {
    height: 40px;
    .tab-item {
      color: colors.$gray87;
      padding: 8px 16px;
      border-radius: 4px;
      background-color: colors.$gray4;
      &.selected {
        background-color: colors.$brand-blue;
        color: colors.$white;
      }
      &.disabled {
        color: colors.$gray24;
      }
      &:not(.selected):not(.disabled):hover {
        cursor: pointer;
        background-color: colors.$gray8;
      }
    }
  }
  &.gap-m {
    --gap: 24px;
  }
  &.gap-s {
    --gap: 16px;
  }
  .tab-item {
    text-align: center;
    &:not(:last-child) {
      margin-right: var(--gap);
    }
  }
}
