@use '../breakpoints';

.layout {
  --layoutWMin: 1px;
  --layoutWMax: 100vw;
  --layoutWStd: 1504px;
  --layoutWidth: clamp(var(--layoutWMin), var(--layoutWStd), var(--layoutWMax));
  margin-left: auto;
  margin-right: auto;
  width: var(--layoutWidth);

  @include breakpoints.on('xxl') {
    --layoutWStd: 1348px;
  }

  @include breakpoints.on('xl') {
    --layoutWStd: 1192px;
  }

  @include breakpoints.on('lg') {
    --layoutWStd: calc(100vw - (68px * 2));
  }

  @include breakpoints.on('md') {
    --layoutWStd: 792px;
  }

  @include breakpoints.on('sm') {
    --layoutWStd: 672px;
  }

  @include breakpoints.on('xs') {
    --layoutWStd: calc(100vw - (32px * 2));
  }

  @include breakpoints.on('xxs') {
    --layoutWStd: calc(100vw - (16px * 2));
  }
}

.mobile {
  --layoutWMax: 792px;
}

.desktop {
  --layoutWMin: 892px;
}
