@use '../colors';

.root {
  display: flex;
  flex-wrap: nowrap;
}

.star {
  position: relative;
  &.size-s {
    width: 16px;
    height: 16px;
    & + & {
      margin-left: 4px;
    }
  }
  &.size-m {
    width: 24px;
    height: 24px;
    & + & {
      margin-left: 6px;
    }
  }
}

.svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: colors.$gray12;
  &.half {
    width: 50%;
    fill: colors.$additional-amber;
  }
  &.full {
    fill: colors.$additional-amber;
  }
}
