@use '../colors';

$full: '[data-star-type="full"]';
$half: '[data-star-type="half"]';

.rating {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  #{$full} {
    fill: colors.$gray12;
  }
  #{$half} {
    fill: colors.$gray12;
  }
}

.rating-star {
  box-sizing: content-box;
  padding: 0 2px;
  &:first-child {
    padding-right: 0;
  }
  &:last-child {
    padding-left: 0;
  }
}

.empty-star {
  #{$half} {
    fill: colors.$gray12;
  }
}

.half-star {
  #{$full} {
    fill: colors.$gray12;
  }
  #{$half} {
    fill: colors.$additional-amber;
  }
}

.full-star {
  #{$full} {
    fill: colors.$additional-amber;
  }
  #{$half} {
    fill: colors.$additional-amber;
  }
}

.rating-can-be-hovered {
  &:hover .rating-star {
    cursor: pointer;
    #{$full} {
      fill: colors.$gray12;
    }
    #{$half} {
      fill: colors.$gray12;
    }
  }
  .rating-star:hover,
  .rating-star:hover ~ .rating-star {
    #{$full} {
      fill: colors.$additional-amber;
    }
    #{$half} {
      fill: colors.$additional-amber;
    }
  }
}
