@import '../variables';
@import '../colors';

.icon {
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
}

.icon-block {
  display: block;
}

.icon-gray {
  color: $gray;
}

.icon-dark-gray {
  color: $darkGray;
}

.icon-white {
  color: #fff;
}

.icon-dark-blue {
  color: $darkBlue;
}

.icon-gray12 {
  color: map-get($colors, 'gray12');
}

.icon-gray38 {
  color: map-get($colors, 'gray38');
}
