@use '../../breakpoints';

$_spacings: 0, 16, 32;

$_alignments: (
  start: 'flex-start',
  center: 'center',
  end: 'flex-end',
);

.grid {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--grid-spacing));
  margin: 0 calc(-1 * (var(--grid-spacing) / 2));
}

@each $spacing in $_spacings {
  .grid-spacing-#{$spacing} {
    --grid-spacing: #{$spacing}px;
  }
}

@each $key, $value in $_alignments {
  .grid-align-#{$key} {
    justify-content: #{$value};
  }
}

.col {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  padding: 0 calc(var(--grid-spacing) / 2);
}

@each $key, $val in breakpoints.$map {
  @include breakpoints.up($key) {
    @for $i from 1 through 12 {
      .col-size-#{$key}-#{$i} {
        width: calc(100% * (#{$i} / 12));
      }
    }
  }
}
