@import '../variables';

.overlay {
  background: $modalOverlay;
  overflow: auto;
  position: fixed;
  z-index: 102;
  display: flex;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
}

.modal {
  background-color: $white;
  margin: auto;
  flex-shrink: 0;
}

.close {
  position: absolute;
  top: 9px;
  right: 9px;
  color: $silvery;
  cursor: pointer;
}

.close:hover {
  color: $red;
}
