@use '../colors';

.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
  text-decoration: none;
  font-weight: inherit;
  cursor: default;
  border-bottom-color: transparent;
}

.link:hover {
  cursor: pointer;
}

.link.disabled {
  color: colors.$gray24;
  pointer-events: none;
}
