@use '../colors';

.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
  text-decoration: none;
  font-weight: inherit; // @todo выяснить можно ли это убрать
  cursor: default;
  border-bottom-color: transparent;
}

.link:hover {
  cursor: pointer;
}

// ниже двойные классы для высокой специфичности в монолите
.link.disabled {
  color: colors.$basic-gray24;
  pointer-events: none;
}

.link:not(.disabled).basic-blue {
  color: colors.$basic-blue;
  &:hover {
    color: colors.$additional-deep-blue;
  }
}

.link:not(.disabled).basic-gray87 {
  color: colors.$basic-gray87;
  &:hover {
    color: colors.$basic-gray54;
  }
}

.link:not(.disabled).basic-gray38 {
  color: colors.$basic-gray38;
  &:hover {
    color: colors.$basic-gray54;
  }
}
