@use '../colors';
@use './link-util';

.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
  text-decoration: none;
  font-weight: inherit; // @todo выяснить можно ли это убрать
  cursor: default;
  border-bottom-color: transparent;
  &.underline {
    text-decoration: underline;
  }
}

.link:hover {
  cursor: pointer;
}

// ниже двойные классы для высокой специфичности в монолите
.link.disabled {
  color: colors.$basic-gray24;
  pointer-events: none;
}

.link:not(.disabled).basic-blue {
  @include link-util.color('basic-blue');
}

.link:not(.disabled).basic-gray87 {
  @include link-util.color('basic-gray87');
}

.link:not(.disabled).basic-gray38 {
  @include link-util.color('basic-gray38');
}

.link:not(.disabled).basic-white {
  @include link-util.color('basic-white');
}

.link:not(.disabled).additional-red {
  @include link-util.color('additional-red');
}

.link:not(.disabled).additional-teal {
  @include link-util.color('additional-teal');
}
