@use '../colors';
@use 'sass:meta';

@each $key, $color in meta.module-variables(colors) {
  .color__#{$key} {
    color: $color;
  }
  .hover-color__#{$key}:hover {
    color: $color;
  }
  .bg-color__#{$key} {
    background-color: $color;
  }
  .stroke__#{$key} {
    stroke: $color;
  }
  .fill__#{$key} {
    fill: $color;
  }
}
