@use '../colors';

@each $key, $color in module-variables(colors) {
  .color__#{$key} {
    color: $color;
  }
  .bg-color__#{$key} {
    background-color: $color;
  }
  .stroke__#{$key} {
    stroke: $color;
  }
  .fill__#{$key} {
    fill: $color;
  }
}
