$sizes: (12, 14, 16, 20, 24, 32, 48, 64);

$heights: (16, 20, 24, 28, 32, 40, 60, 80);

@each $size in $sizes {
  .size-#{$size} {
    font-size: #{$size}px;
  }
}

@each $height in $heights {
  .line-height-#{$height} {
    line-height: #{$height}px;
  }
}

$weights: (400, 600, 700);

@each $weight in $weights {
  .weight-#{$weight} {
    font-weight: $weight;
  }
}
