$sizes: (
  12,
  14,
  16,
  20,
  24,
  28,
  32,
  48,
  64,
  80,
);

@each $size in $sizes {
  .size-#{$size} {
    font-size: #{$size}px;
  }
  .line-height-#{$size} {
    line-height: #{$size}px;
  }
}

$weights: (
  400,
  500,
  600, // временно нужен для миграции с Open Sans
  700,
);

@each $weight in $weights {
  .weight-#{$weight} {
    font-weight: $weight;
  }
}
