$blue-story: #0445e4;
$light-blue-story: #42cbf9;
$gray-story: #999;
$dark-story: #333;

.doc-rating {
  margin: 5px;
}

.doc-rating .doc-rating-star {
  padding: 0 10px;
}

.doc-empty-star {
  path:first-child {
    fill: $light-blue-story;
  }
  path:nth-child(2) {
    fill: $light-blue-story;
  }
}

.doc-half-star {
  path:first-child {
    fill: $light-blue-story;
  }
  path:nth-child(2) {
    fill: $blue-story;
  }
}

.doc-full-star {
  path:first-child {
    fill: $blue-story;
  }
  path:nth-child(2) {
    fill: $blue-story;
  }
}

.doc-rating-can-be-hovered {
  .doc-rating-star:hover {
    path:first-child {
      fill: $dark-story;
    }
    path:nth-child(2) {
      fill: $dark-story;
    }
  }
  .doc-rating-star:hover ~ .doc-rating-star {
    path:first-child {
      fill: $gray-story;
    }
    path:nth-child(2) {
      fill: $gray-story;
    }
  }
}
