$axis: (
  x: (
    'right',
    'left',
  ),
  y: (
    'top',
    'bottom',
  ),
);

.flex-wrap {
  flex-wrap: wrap;
}

// display
$displayValues: (block, none, flex, inline, inline-block);

@each $key in $displayValues {
  .display-#{$key} {
    display: $key;
  }
}

// flex
$flexValues: (
  shrink: 0 1 auto,
  grow: 1 1 auto,
  none: 0 0 auto,
);

@each $key, $value in $flexValues {
  .flex-#{$key} {
    flex: $value;
  }
}

// direction
$directionValues: (row, column);

@each $key in $directionValues {
  .direction-#{$key} {
    flex-direction: $key;
  }
}

// align-items
$alignItemsValues: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch,
);

@each $key, $value in $alignItemsValues {
  .align-items-#{$key} {
    align-items: $value;
  }
}

// justify-content
$justifyContentValues: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: evenly,
);

@each $key, $value in $justifyContentValues {
  .justify-content-#{$key} {
    justify-content: $value;
  }
}
