.root {
  overflow: hidden;
}

.inner {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  margin: 0 calc(var(--expandable-gap) * -1) calc(var(--expandable-gap) * -1) 0;
}

.item {
  display: block;
  padding: 0;
  max-width: 100%;
  height: var(--expandable-item-height);
  margin: 0 (var(--expandable-gap)) var(--expandable-gap) 0;
  &.hidden {
    display: none;
  }
  &.invisible {
    opacity: 0;
    pointer-events: none;
  }
  &.opener {
    width: var(--expandable-opener-width);
  }
}
