/* Палитра цветов для проекта */

$transparent: transparent;
$white: #fff;
$whiteGradient: #f8f8f8;
$gray2: #afb8bb; /* цвет крестика-закрывашки попапа / текста с количеством в подкатегориях  */
$gray: #808080; /* цвет ссылок/иконок */
$darkGray: #43474a; /* цвет иконки корзины */
$black: #000;
$blue: #1f84db; /* цвет фона кнопки "Каталог" в меню */
$toolTipBlueBg: rgba(42, 137, 207, .8); /* голубой цвет фона всплывающей подсказки */
$blueIcon: #2153b7; /* цвет иконки перехода на внешний ресурс */
$darkBlue2: #00599d; /* цвет фона выпадающего меню каталога */
$darkBlue: #32457d; /* цвет стрелочки в выборе города/валюты */
$veryDarkBlue: #002b41; /* цвет текста ссылок меню каталога */
$red: #fb3a2f; /* цвет текста при наведении на ссылки меню каталога */

/** Цвета для ссылок (наведение/подчеркивание) **/
$whiteHoveredLink: #ffdab2;
$underlineBlueLink: rgba(31, 132, 219, .3);
$underlineBlackLink: rgba(0, 0, 0, .1);
$underlineGrayLink: rgba(102, 102, 102, .3);
$underlineRedLink: rgba(251, 58, 47, .3);
$underlineRedHoveredLink: rgba(223, 74, 84, .3);
$underlineWhiteLink: rgba(255, 255, 255, .3);
$underlineWhiteHoveredLink: rgba(255, 218, 178, .3);

/** Радиусы границ **/

$radiusSquare: 0;
$radiusCircle: 50%;
$radiusPill: 999px;
$radiusRounded: 5px;

/** Подчеркивание **/

$underlineSolid: 1px solid transparent;
$underlineDashed: 1px dashed transparent;
