/* Палитра цветов для проекта */
$white: #fff;
$gray: #808080; /* цвет ссылок/иконок */
$darkGray: #43474a; /* цвет иконки корзины */
$black: #000;
$blue: #1f84db; /* цвет фона кнопки "Каталог" в меню */
$blueIcon: #2153b7; /* цвет иконки перехода на внешний ресурс */
$deepBlue: #00599d; /* цвет фона выпадающего меню каталога */
$darkBlue: #32457d; /* цвет стрелочки в выборе города/валюты */

/** Цвета теней **/
$lightShadow: rgba(0, 0, 0, .3); /* цвет тени базового попапа */
$veryLightShadow: rgba(0, 0, 0, .1); /* цвет тени стрелки попапа */
$modalOverlay: rgba(0, 0, 0, .48); /* цвет затемнения области за пределами модального окна */
