@use './clean-buttons-util';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;

  // перебиваем стили Link (font-weight: inherit) чтобы не менять их так как компонент много где используется
  font-weight: 600 !important;

  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  height: var(--clean-group-height);
}

.size-s {
  @include clean-buttons-util.size-s;
}

.size-m {
  @include clean-buttons-util.size-m;
}

.size-l {
  @include clean-buttons-util.size-l;
}
