@use '../colors';

.group {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  .button {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    + .button {
      border-left: 1px solid colors.$basic-gray12;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;

  // перебиваем стили Link (font-weight: inherit) чтобы не менять их так как компонент много где используется
  font-weight: 600 !important;

  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
}

.size-s {
  height: 64px;
}

.size-m {
  height: 72px;
}

.size-l {
  height: 80px;
}
