@use '../colors';

// новые стили по макетам дизайн системы
.button-base {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 4px;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  overflow: hidden;
  &::-moz-focus-inner {
    border: 0;
  }
  &:disabled {
    color: colors.$gray24;
    background-color: colors.$gray8;
  }
}

.icon {
  fill: currentColor;
}

// small
.button-small {
  padding: 0 8px;
  min-width: 40px;
  height: 40px;
}

.text-button-small {
  padding-left: 20px;
  padding-right: 20px;
}

.button-small-with-start-icon {
  padding-left: 12px;
  padding-right: 20px;
}

.button-small-with-end-icon {
  padding-left: 20px;
  padding-right: 12px;
}

// medium
.button-medium {
  padding: 0 12px;
  min-width: 48px;
  height: 48px;
}

.text-button-medium {
  padding-left: 24px;
  padding-right: 24px;
}

.button-medium-with-start-icon {
  padding-right: 24px;
}

.button-medium-with-end-icon {
  padding-left: 24px;
}

.icon-start {
  margin: 0 12px 0 0;
}

.icon-end {
  margin: 0 0 0 12px;
}

// action types
.button-primary {
  background-color: colors.$brand-blue;
  color: #fff;
  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: #1b74c1;
  }
}

.button-secondary {
  background-color: colors.$gray8;
  color: colors.$gray87;
  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: colors.$gray12;
  }
}
