$sizes: 40, 48, 56, 64, 72, 80, 104;

$textSizes: (
  40: 12,
  48: 16,
  56: 16,
  64: 16,
  72: 16,
  80: 16,
  104: 24,
);

@mixin layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  &::before {
    @include layer;
    content: '';
    display: block;
    background: var(--avatar-color, none);
    opacity: var(--avatar-color-opacity, 1);
  }
}

@each $size in $sizes {
  .size-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    .monogram {
      font-size: #{map-get($textSizes, $size)}px;
    }
  }
}

.monogram {
  position: relative;
  padding: 0 8px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  // ВАЖНО: чтобы например обертка в виде ссылки не накидывала text-decoration: underline
  text-decoration: none;
}

.icon {
  position: relative;
  fill: currentColor;
}

.layer {
  @include layer;
  &.image {
    object-fit: cover;
  }
  &.image-overlay {
    background: #000;
    opacity: 0.04;
  }
}
