@use '../colors';

$sizes: (s: 40px, m: 48px, l: 56px, xl: 72px);

.root {
  display: flex;
  align-items: center;
  padding: 0 24px;
  &:hover {
    cursor: pointer;
    background: colors.$gray4;
  }
  @each $key, $size in $sizes {
    &.size-#{$key} {
      height: $size;
    }
  }
}
