@use '../breakpoints';
@use '../utils';

.outer {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  @include utils.hidden-scrollbars;
}

.inner {
  display: flex;
}

@include breakpoints.down('mm') {
  .outer {
    --slider-gutter: calc((100vw - var(--l-width)) / 2);
    margin: 0 calc(-1 * var(--slider-gutter));
  }
  .inner {
    padding: 0 var(--slider-gutter);
  }
}
