.root {
  display: inline-flex;
  max-width: 100%;
}

.items {
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  > * {
    flex-shrink: 0;
    max-width: 100%;
  }
  > *:not(:first-child) {
    margin-left: var(--group-overflow-gap, 8px);
  }
}

.more {
  margin-left: var(--group-overflow-gap, 8px);
  flex-grow: 0;
  flex-shrink: 0;
}
