@use '../utils';
@use './modal-overlay-util';

.root {
  position: fixed;
  top: 0;
  left: 0;

  // ВАЖНО: высота/ширина в процентах тк при использовании 100vw/100vh размер ломается если у body указан min-width
  height: 100%;
  width: 100%;

  display: flex;
  background: modal-overlay-util.$overlay-color;
  overflow: auto;
  @include utils.hidden-scrollbars;
}
