@use '../utils';
@use './modal-overlay-util';

.root {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background: modal-overlay-util.$overlay-color;
  overflow: auto;
  @include utils.hidden-scrollbars;
}
