$sizes: 40, 48, 56, 64, 72, 104;

$textSizes: (
  40: 12,
  48: 16,
  56: 16,
  64: 16,
  72: 16,
  104: 24
);

.root {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

.shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // по гайдам под прозрачной картинкой всегда должен быть фон
  background: rgba(0, 0, 0, .04);
}

@each $size in $sizes {
  .size-#{$size} {
    width: #{$size}px;
    height: #{$size}px;
    .monogram {
      font-size: #{map-get($textSizes, $size)}px;
    }
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 8px;
}

.icon {
  fill: currentColor;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
