.custom-input {
  display: inline-flex;
  width: 240px;
  padding: 10px;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  font-size: 16px;
  border-bottom: 2px solid #aaa;
  transition: .2s border-color;
  &::placeholder {
    color: #bbb;
    transition: .2s color;
  }
  .custom-with-start-adornment {
    padding-left: 40px;
  }
  &.focused {
    border-bottom-color: rgb(224, 104, 67);
    &::placeholder {
      color: #eee;
    }
  }
}

.extended-permanent {
  height: 48px;
  padding: 10px 16px;
  border-radius: 0;
}
