$step: 4px;

$directions: 'top', 'right', 'bottom', 'left';

$axis: (
  x: ('right', 'left'),
  y: ('top', 'bottom'),
);

.flex-wrap {
  flex-wrap: wrap;
}

// display
$displayValues: (
  block,
  none,
  flex,
  inline,
  inline-block,
);

@each $key in $displayValues {
  .display-#{$key} {
    display: $key;
  }
}

// flex
$flexValues: (
  shrink: 0 1 auto,
  grow: 1 1 auto,
  none: 0 0 auto,
);

@each $key, $value in $flexValues {
  .flex-#{$key} {
    flex: $value;
  }
}

// direction
$directionValues: (
  row,
  column,
);

@each $key in $directionValues {
  .direction-#{$key} {
    flex-direction: $key;
  }
}

// align-items
$alignItemsValues: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch,
);

@each $key, $value in $alignItemsValues {
  .align-items-#{$key} {
    align-items: $value;
  }
}

// justify-content
$justifyContentValues: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: evenly,
);

@each $key, $value in $justifyContentValues {
  .justify-content-#{$key} {
    justify-content: $value;
  }
}

@for $index from -12 through 12 {
  .margin__#{$index} {
    margin: $step * $index;
  }

  // внутренние отступы могут быть только положительными
  @if $index >= 0 {
    .padding__#{$index} {
      padding: $step * $index;
    }
  }
  @each $direction in $directions {
    .margin-#{$direction}__#{$index} {
      margin-#{$direction}: $step * $index;
    }

    // внутренние отступы могут быть только положительными
    @if $index >= 0 {
      .padding-#{$direction}__#{$index} {
        padding-#{$direction}: $step * $index;
      }
    }
  }
  @each $axle, $directions in $axis {
    .margin-#{$axle}__#{$index} {
      @each $direction in $directions {
        margin-#{$direction}: $step * $index;
      }
    }

    // внутренние отступы могут быть только положительными
    @if $index >= 0 {
      .padding-#{$axle}__#{$index} {
        @each $direction in $directions {
          padding-#{$direction}: $step * $index;
        }
      }
    }
  }
}
