$map: (
  mxs: 0,
  ms: 480px,
  mm: 720px,
  ml: 840px,
  xs: 1024px,
  s: 1280px,
  m: 1440px,
  l: 1600px,
  xl: 1920px,
) !default;

@mixin up($breakpoint) {
  @if map-has-key($map, $breakpoint) {
    @media (min-width: map-get($map, $breakpoint)) {
      @content;
    }
  } @else {
    @warn 'No such breakpoint `#{$breakpoint}`. Available values: #{map-keys($map)}.';
  }
}

@mixin down($breakpoint) {
  @if map-has-key($map, $breakpoint) {
    @media (max-width: map-get($map, $breakpoint) - 1px) {
      @content;
    }
  } @else {
    @warn 'No such breakpoint `#{$breakpoint}`. Available values: #{map-keys($map)}.';
  }
}
