@use '../colors';

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.top,
  &.bottom {
    flex-direction: column;
  }
  &.top::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: colors.$basic-gray76 transparent transparent transparent;
  }
  &.right::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 4px 0;
    border-color: transparent colors.$basic-gray76 transparent transparent;
  }
  &.bottom::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px;
    border-color: transparent transparent colors.$basic-gray76 transparent;
  }
  &.left::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent colors.$basic-gray76;
  }
}

.body {
  align-items: center;
  background: colors.$basic-gray76;
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  min-height: 36px;
  padding: 8px;
  white-space: nowrap;
  text-align: center;
}
