.outer {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  --sliderGutter: calc((100vw - var(--layoutWidth)) / 2);
  margin: 0 calc(-1 * var(--sliderGutter));
}

.inner {
  display: flex;
  padding: 0 var(--sliderGutter);
}

.invisible-scroll {
  scrollbar-width: none; // Firefox
  overflow: -moz-scrollbars-none; // old Firefox
  -ms-overflow-style: none; // IE, old Edge
  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}
