.root {
  position: relative;
  width: 160px;
  height: 60px;
  border-bottom: 1px solid #bbb;
}

.focused {
  border-bottom: 1px solid #00f;
}

.display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: transparent;
  font-size: 48px;
  line-height: 60px;
  border: 0;
  outline: 0;
  padding: 0;
}

.item {
  width: 28px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
}

.item:not(.last) {
  margin-right: auto;
}

.placeholder {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e0e0e0;
}

.cursor {
  width: 1px;
  height: 100%;
  background: currentColor;
  margin-right: -1px;
  animation: blink 1.3s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
