@import '../colors';

.reset {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: inherit;
}

// В селекторе указан input потому что в основном проекте присутствуют стили,
// которые переопределяют отступы для input. Иначе не хватает специфичности.
input.reset {
  padding: 0;
}

.text-field-root {
  display: inline-block;
}

.input-block {
  display: flex;
  min-width: 250px;
  max-width: 100%;
  padding: 0 12px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  &.with-label {
    .input-wrapper {
      padding-top: 16px;
    }
  }

  // variant: desktop
  &.variant-desktop {
    background-color: #fff;
    border: 1px solid map-get($colors, 'gray12');
    border-radius: 4px;
    &.disabled {
      border-color: map-get($colors, 'gray12');
      background-color: map-get($colors, 'gray2');
    }
    &.focused:not(.disabled) {
      border-color: map-get($colors, 'brand-blue');
    }
    &.disabled {
      border-color: map-get($colors, 'gray12');
    }
    &:not(.multiline) {
      &.size-xs {
        font-size: 14px;
        height: 32px;
      }
      &.size-s {
        height: 40px;
      }
      &.size-m {
        height: 48px;
      }
      &.size-l {
        height: 56px;
        padding: 0 16px;
      }
    }
    &.multiline {
      align-items: flex-start;
      min-height: 128px;
      padding: 14px 16px; // 14px с учетом обводки
      &.with-label {
        padding: 7px 16px; // 7px с учетом обводки
      }
    }
  }

  // variant: mobile
  &.variant-mobile {
    padding: 0;
    border: 0;
    box-shadow: inset 0 -1px map-get($colors, 'gray12');
    .main-column {
      height: 100%;
      justify-content: center;
    }
    &.with-label .main-column {
      justify-content: flex-start;
    }
    &.focused:not(.disabled) {
      box-shadow: inset 0 -1px map-get($colors, 'brand-blue');
    }
    &:not(.multiline) {
      height: 48px;
    }
    &.multiline {
      height: auto;
      min-height: 48px;
      .main-column {
        padding-bottom: 8px;
      }
      &:not(.with-label) .main-column {
        padding-top: 8px;
      }
    }
  }

  // чтобы startAdornment/endAdornment подхватили цвет
  color: map-get($colors, 'gray87');
  &.disabled {
    color: map-get($colors, 'gray24');
  }
}

.main-column {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.input-wrapper {
  display: flex;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  transition: transform .2s ease, font-size .2s ease, top .2s ease;
  transform-origin: left bottom;
  white-space: nowrap;
  overflow: hidden;
  color: map-get($colors, 'gray38');
  &.disabled {
    color: map-get($colors, 'gray24');
  }
  &.as-placeholder {
    top: calc(50% - 12px);
    font-size: 16px;
    line-height: 24px;
    &.failed {
      color: map-get($colors, 'service-error');
    }
  }
  &.variant-mobile.focused {
    color: map-get($colors, 'brand-blue');
  }
}

.base-input {
  font-size: 16px;
  line-height: 24px;
  color: map-get($colors, 'gray87');
  background-color: transparent;
  width: 0;
  flex-grow: 1;
  &::-ms-clear { // отключаем системный крестик в IE
    display: none;
    height: 0;
    width: 0;
  }
  &::placeholder {
    opacity: 1;
    color: map-get($colors, 'gray38');
  }
  &.size-xs {
    font-size: 14px;
    line-height: 20px;
  }
  &.failed:not(:disabled) {
    color: map-get($colors, 'service-error');
    &::placeholder {
      color: map-get($colors, 'service-error');
    }
  }
  &.disabled {
    color: map-get($colors, 'gray24');
    &::placeholder {
      color: map-get($colors, 'gray24');
    }
  }
  &.multiline {
    resize: none;
  }
}

.caption {
  font-size: 12px;
  line-height: 16px;
  color: map-get($colors, 'gray38');
  &.disabled {
    color: map-get($colors, 'gray24');
  }
  &.failed {
    color: map-get($colors, 'service-error');
  }
}
