@use '../colors';

.reset {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: inherit;
}

// В селекторе указан input потому что в основном проекте присутствуют стили,
// которые переопределяют отступы для input. Иначе не хватает специфичности.
input.reset {
  padding: 0;
}

.text-field-root {
  display: inline-block;
}

.input-block {
  display: flex;
  min-width: 64px; // минимальная ширина по договоренности с дизайнерами
  max-width: 100%;
  padding: 0 12px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  &.with-label {
    .input-wrapper {
      padding-top: 16px;
    }
  }

  // variant: desktop
  &.variant-desktop {
    background-color: #fff;
    border: 1px solid colors.$gray12;
    &.disabled {
      border-color: colors.$gray12;
      background-color: colors.$gray2;
    }
    &.focused:not(.disabled):not(.failed) {
      border-color: colors.$brand-blue;
    }
    &.disabled {
      border-color: colors.$gray12;
    }
    &:not(.multiline) {
      &.size-xs {
        font-size: 14px;
        height: 32px;
      }
      &.size-s {
        height: 40px;
      }
      &.size-m {
        height: 48px;
      }
      &.size-l {
        height: 56px;
        padding: 0 16px;
      }
    }
    &.multiline {
      align-items: flex-start;
      min-height: 128px;
      padding: 14px 16px; // 14px с учетом обводки
      &.with-label {
        padding: 7px 16px; // 7px с учетом обводки
      }
    }
  }

  // variant: mobile
  &.variant-mobile {
    padding: 0;
    border: 0;
    box-shadow: inset 0 -1px colors.$gray12;
    .main-column {
      height: 100%;
      justify-content: center;
    }
    &.with-label .main-column {
      justify-content: flex-start;
    }
    &.focused:not(.disabled) {
      box-shadow: inset 0 -1px colors.$brand-blue;
    }
    &.failed:not(:disabled) {
      box-shadow: inset 0 -1px colors.$additional-red;
    }
    &:not(.multiline) {
      height: 48px;
    }
    &.multiline {
      height: auto;
      min-height: 48px;
      .main-column {
        padding-bottom: 8px;
      }
      &:not(.with-label) .main-column {
        padding-top: 8px;
      }
    }
  }

  // чтобы startAdornment/endAdornment подхватили цвет
  color: colors.$gray87;
  &.disabled {
    color: colors.$gray24;
  }
}

.main-column {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.input-wrapper {
  display: flex;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  transition: transform .2s ease, font-size .2s ease, top .2s ease;
  transform-origin: left bottom;
  white-space: nowrap;
  overflow: hidden;
  color: colors.$gray38;
  &.disabled {
    color: colors.$gray24;
  }
  &.as-placeholder {
    top: calc(50% - 12px);
    font-size: 16px;
    line-height: 24px;
  }
  &.variant-mobile {
    &.focused:not(.failed) {
      color: colors.$brand-blue;
    }
    &.failed.focused,
    &.failed.filled {
      color: colors.$additional-red;
    }
  }
  &.variant-desktop {
    &.failed:not(.focused):not(.filled) {
      color: colors.$additional-red;
    }
  }
}

// hotfix: storybook добавляет стили в порядке наименования компонентов (не сходится с порядком в webpack)
.input-wrapper .base-input {
  font-size: 16px;
  line-height: 24px;
  color: colors.$gray87;
  --placeholder-color: #{colors.$gray38};
  background-color: transparent;
  width: 0;
  flex-grow: 1;
  &.disabled {
    color: colors.$gray24;
    --placeholder-color: #{colors.$gray24};
  }
  &.size-xs {
    font-size: 14px;
    line-height: 20px;
  }
  &.variant-mobile:not(:focus) {
    text-overflow: ellipsis;
  }
  &.variant-desktop.failed {
    color: colors.$additional-red;
    --placeholder-color: #{colors.$additional-deep-red};
  }
}

.caption {
  font-size: 12px;
  line-height: 16px;
  color: colors.$gray38;
  &.disabled {
    color: colors.$gray24;
  }
  &.failed {
    color: colors.$additional-red;
  }
}
