@use '../colors';

.root {
  position: relative;
  width: var(--width, 320px);
}

.field {
  width: 100%;
}

.adornment {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.popup {
  position: absolute;
  width: 100%;
  top: 56px;
  height: 208px;
  z-index: 2;
}

.popup-item {
  font-size: 16px;
  line-height: 24px;
  .item-name {
    color: colors.$gray87;
    flex-grow: 1;
    margin-left: 16px;
  }
  .item-code {
    color: colors.$gray38;
  }
}
