name: Publish NPM package

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: |
          yarn install
          npm i -g npm@7 --registry=https://registry.npmjs.org

      - name: Lint
        run: |
          yarn lint:styles
          yarn lint:scripts
          yarn type-check

      - name: Test
        run: yarn test:ci

      - name: Build package
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV;
          npm --no-git-tag-version version $RELEASE_VERSION;
          npm set-script prepare "";
          yarn build;

      - name: Publish build
        run: npm publish ./build --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
