@use '../breakpoints';

.layout {
  @each $key, $val in breakpoints.$map {
    @include breakpoints.up($key) {
      &.disabled-#{$key} {
        width: auto;
        max-width: none;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
      }
      &:not(.disabled-#{$key}) {
        // ВАЖНО: не используем 100vw так как при использовании 100vw не вычитается ширина полосы прокрутки страницы
        width: 100%;
        max-width: var(--layout-fixed-width);
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--layout-fluid-gutter);
        padding-right: var(--layout-fluid-gutter);
      }
    }
  }
  @include breakpoints.up('mxs') {
    --layout-fixed-width: initial;
    --layout-fluid-gutter: 16px;
  }
  @include breakpoints.up('mm') {
    --layout-fixed-width: 656px;
    --layout-fluid-gutter: initial;
  }
  @include breakpoints.up('ml') {
    --layout-fixed-width: 672px;
    --layout-fluid-gutter: initial;
  }
  @include breakpoints.up('xs') {
    --layout-fixed-width: initial;
    --layout-fluid-gutter: 64px;
  }
  @include breakpoints.up('l') {
    --layout-fixed-width: 1472px;
    --layout-fluid-gutter: initial;
  }
  @include breakpoints.up('xl') {
    --layout-fixed-width: 1504px;
    --layout-fluid-gutter: initial;
  }

  // пока что не даём использовать приватные переменные чтобы не раскрывать принцип работы
  // так как он может измениться
  *:not(.layout) {
    --layout-fixed-width: initial;
    --layout-fluid-gutter: initial;
  }
}
