@use '../breakpoints';

@mixin layout {
  // ВАЖНО: не используем 100vw так как при использовании 100vw не вычитается ширина полосы прокрутки страницы
  width: 100%;

  // центрируем
  margin-left: auto;
  margin-right: auto;
}

// ВАЖНО: не прокидываем никаких кастомных свойств внутрь чтобы ими не воспользовались
.layout {
  @include breakpoints.down('ms') {
    &:not(.disabled-mxs) {
      @include layout;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @include breakpoints.up('ms') {
    @include breakpoints.down('mm') {
      &:not(.disabled-ms) {
        @include layout;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
  @include breakpoints.up('mm') {
    @include breakpoints.down('ml') {
      &:not(.disabled-mm) {
        @include layout;
        max-width: 656px;
      }
    }
  }
  @include breakpoints.up('ml') {
    @include breakpoints.down('xs') {
      &:not(.disabled-ml) {
        @include layout;
        max-width: 672px;
      }
    }
  }
  @include breakpoints.up('xs') {
    @include breakpoints.down('s') {
      &:not(.disabled-xs) {
        @include layout;
        padding-left: 64px;
        padding-right: 64px;
      }
    }
  }
  @include breakpoints.up('s') {
    @include breakpoints.down('m') {
      &:not(.disabled-s) {
        @include layout;
        padding-left: 64px;
        padding-right: 64px;
      }
    }
  }
  @include breakpoints.up('m') {
    @include breakpoints.down('l') {
      &:not(.disabled-m) {
        @include layout;
        padding-left: 64px;
        padding-right: 64px;
      }
    }
  }
  @include breakpoints.up('l') {
    @include breakpoints.down('xl') {
      &:not(.disabled-l) {
        @include layout;
        max-width: 1472px;
      }
    }
  }
  @include breakpoints.up('xl') {
    &:not(.disabled-xl) {
      @include layout;
      max-width: 1504px;
    }
  }
}
